.bannerContainer{
    width: 80%;
    margin: auto;

}
.bannerAlquiler{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 2px solid rgb(233, 233, 233);
    margin-bottom: 30px;
    height: 18rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    img {
        width: 50%;
        object-fit: cover;
        object-position: cover;
        border-radius: 0 20px 20px 0;
    }
}

.bannerAlquiler__textBtn{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;

    h3{
        color: $titleColor;
        font-size: 1.8rem;
    }

    p{
        color: $letterColor;
        font-size: 1rem;
    }

    a{
        font-size: 1rem;
        padding: 10px 20px;
        background: $buttonColor;
        border: 2px solid $buttonColor;
        color: #FFF;
        border-radius: 20px;
        font-weight: 500;
        &:hover{
        background: rgb(0, 44, 167);
        border: 2px solid rgb(0, 44, 167);
        }
    }
}