*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
}

$letterColor: #373737;
$titleColor: #272727;
$buttonColor: #003EED;
$boxshadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

.transition{
    transition: all 300ms;
}

main{
    width: 100%;
}
.newSection{
    margin-top: 80px;
    overflow: hidden; //Arregla un problema del AOS
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- SCROLLBAR -- */
::-webkit-scrollbar{
	width: 7px;
}
::-webkit-scrollbar-thumb{
	background: #003EED;
	border-radius: 6px;
}